# Employee Attrition Data

**"Linear Discriminant Analysis (LDA)"** is a technique of model distribution of predictors in each of the response classes and use Bayes Theorem to flip around into estimates for classwise probability. This approach assumes the predictors to have come from multivariate Gaussian Distribution with class specific mean vector and common covariance matrix.

## Importing Libraries and Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
data.head()

,﻿Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
data.columns

Index(['﻿Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

### Few of the predictors are useless carrying same value for all the observations ,thus having no significance in the desired output variable:
####    'EmployeeCount' , 'EmployeeNumber' , 'Over18' , 'StandardHours

In [4]:
data = data.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'],axis=1)
data.columns

Index(['﻿Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

### Getting unique elements for every predictor variable

In [5]:
data['MaritalStatus'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

## Replacing our Attrition output by integer constants

In [6]:
data.loc[data['Attrition']=='No','Attrition'] = 0
data.loc[data['Attrition']=='Yes','Attrition'] = 1
data.head()

,﻿Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

## Categorising on the basis of travel for business purposes; rarely,frequently or no travel

In [7]:
data['Business_Travel_Rarely']=0
data['Business_Travel_Frequently']=0
data['Business_Non-Travel']=0

data.loc[data['BusinessTravel']=='Travel_Rarely','Business_Travel_Rarely'] = 1
data.loc[data['BusinessTravel']=='Travel_Frequently','Business_Travel_Frequently'] = 1
data.loc[data['BusinessTravel']=='Non-Travel','Business_Non-Travel'] = 1

## Categorising on the basis of education field

In [8]:
data['Life Sciences']=0
data['Medical']=0
data['Marketing']=0
data['Technical Degree']=0
data['Education Human Resources']=0
data['Education_Other']=0

data.loc[data['EducationField']=='Life Sciences','Life Sciences'] = 1
data.loc[data['EducationField']=='Medical','Medical'] = 1
data.loc[data['EducationField']=='Other','Education_Other'] = 1
data.loc[data['EducationField']=='Technical Degree','Technical Degree'] = 1
data.loc[data['EducationField']=='Human Resources','Education Human Resources'] = 1
data.loc[data['EducationField']=='Marketing','Marketing'] = 1

## Categorising on the basis of working department

In [9]:
data['Sales']=0
data['R&D']=0
data['Dept_Human Resources'] =0

data.loc[data['Department']=='Sales','Sales'] = 1
data.loc[data['Department']=='Research & Development','R&D'] = 1
data.loc[data['Department']=='Human Resources','Dept_Human Resources'] = 1

##  Setting predictor gender where male is indicated as 1 and female as 0

In [10]:
data.loc[data['Gender']=='Male','Gender'] = 1
data.loc[data['Gender']=='Female','Gender'] = 0

## Categorising on the basis of Job Role

In [11]:
data['Research Scientist']=0
data['Laboratory Technician']=0
data['Sales Executive']=0
data['Manufacturing Director']=0
data['Healthcare Representative']=0
data['Sales Representative']=0
data['Research Director']=0
data['Manager'] = 0
data['Job_Human_Resources'] = 0

data.loc[data['JobRole']=='Research Scientist','Research Scientist'] = 1
data.loc[data['JobRole']=='Laboratory Technician','Laboratory Technician'] = 1
data.loc[data['JobRole']=='Sales Executive','Sales Executive'] = 1
data.loc[data['JobRole']=='Sales Representative','Sales Representative'] = 1
data.loc[data['JobRole']=='Manufacturing Director','Manufacturing Director'] = 1
data.loc[data['JobRole']=='Healthcare Representative','Healthcare Representative'] = 1
data.loc[data['JobRole']=='Research Director','Research Director'] = 1
data.loc[data['JobRole']=='Manager','Manager'] = 1
data.loc[data['JobRole']=='Human Resources','Job_Human_Resources'] = 1
data.head()

,﻿Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,Dept_Human Resources,Research Scientist,Laboratory Technician,Sales Executive,Manufacturing Director,Healthcare Representative,Sales Representative,Research Director,Manager,Job_Human_Resources
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,0,...,0,0,0,1,0,0,0,0,0,0
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,1,...,0,1,0,0,0,0,0,0,0,0
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,1,...,0,0,1,0,0,0,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,0,...,0,1,0,0,0,0,0,0,0,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,...,0,0,1,0,0,0,0,0,0,0

## Categorising on the basis of Marital Satus of Employee

In [12]:
data['Marital_single']=0
data['Marital_married']=0
data['Marital_divorced']=0

data.loc[data['MaritalStatus']=='Married','Marital_married'] = 1
data.loc[data['MaritalStatus']=='Single','Marital_single'] = 1
data.loc[data['MaritalStatus']=='Divorced','Marital_divorced'] = 1

## Setting up the Over Time predictor

In [13]:
data.loc[data['OverTime']=='No','OverTime'] = 0
data.loc[data['OverTime']=='Yes','OverTime'] = 1
data.head()

,﻿Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,Sales Executive,Manufacturing Director,Healthcare Representative,Sales Representative,Research Director,Manager,Job_Human_Resources,Marital_single,Marital_married,Marital_divorced
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,0,...,1,0,0,0,0,0,0,1,0,0
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,1,...,0,0,0,0,0,0,0,0,1,0
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,1,...,0,0,0,0,0,0,0,1,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,0,...,0,0,0,0,0,0,0,0,1,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,...,0,0,0,0,0,0,0,0,1,0

## Checking for useless predictor variables and removing them

In [14]:
data.columns

Index(['﻿Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Business_Travel_Rarely', 'Business_Travel_Frequently',
       'Business_Non-Travel', 'Life Sciences', 'Medical', 'Marketing',
       'Technical Degree', 'Education Human Resources', 'Education_Other',
       'Sales', 'R&D', 'Dept_Human Resources', 'Research Scientist',
       'Laboratory Technician', 'Sales Executive', 'Manufacturing Director',
       'Healthcare Representative', 'Sales Representative',
       'Research Director', 'Manager', 'Job_Human_Resources', 'Marital_single',
       'Marital_married', 'Marital_divorced'],
      dtype='object')

In [15]:
data = data.drop(['BusinessTravel','EducationField',
                        'Department','JobRole','MaritalStatus'],axis=1)
data.head()

,﻿Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,Sales Executive,Manufacturing Director,Healthcare Representative,Sales Representative,Research Director,Manager,Job_Human_Resources,Marital_single,Marital_married,Marital_divorced
0,41,1,1102,1,2,2,0,94,3,2,...,1,0,0,0,0,0,0,1,0,0
1,49,0,279,8,1,3,1,61,2,2,...,0,0,0,0,0,0,0,0,1,0
2,37,1,1373,2,2,4,1,92,2,1,...,0,0,0,0,0,0,0,1,0,0
3,33,0,1392,3,4,4,0,56,3,1,...,0,0,0,0,0,0,0,0,1,0
4,27,0,591,2,1,1,1,40,3,1,...,0,0,0,0,0,0,0,0,1,0

## Converting datatypes of some predictor variables

In [16]:
data.dtypes

﻿Age                           int64
Attrition                     object
DailyRate                      int64
DistanceFromHome               int64
Education                      int64
EnvironmentSatisfaction        int64
Gender                        object
HourlyRate                     int64
JobInvolvement                 int64
JobLevel                       int64
JobSatisfaction                int64
MonthlyIncome                  int64
MonthlyRate                    int64
NumCompaniesWorked             int64
OverTime                      object
PercentSalaryHike              int64
PerformanceRating              int64
RelationshipSatisfaction       int64
StockOptionLevel               int64
TotalWorkingYears              int64
TrainingTimesLastYear          int64
WorkLifeBalance                int64
YearsAtCompany                 int64
YearsInCurrentRole             int64
YearsSinceLastPromotion        int64
YearsWithCurrManager           int64
Business_Travel_Rarely         int64
Business_Travel_Frequently     int64
Business_Non-Travel            int64
Life Sciences                  int64
Medical                        int64
Marketing                      int64
Technical Degree               int64
Education Human Resources      int64
Education_Other                int64
Sales                          int64
R&D                            int64
Dept_Human Resources           int64
Research Scientist             int64
Laboratory Technician          int64
Sales Executive                int64
Manufacturing Director         int64
Healthcare Representative      int64
Sales Representative           int64
Research Director              int64
Manager                        int64
Job_Human_Resources            int64
Marital_single                 int64
Marital_married                int64
Marital_divorced               int64
dtype: object

In [17]:
data['Attrition'] = data['Attrition'].astype('int')
data['Gender'] = data['Gender'].astype('int')
data['OverTime'] = data['OverTime'].astype('int')

## Finding coorelation among various predictors

In [18]:
data.corr()

,﻿Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,Sales Executive,Manufacturing Director,Healthcare Representative,Sales Representative,Research Director,Manager,Job_Human_Resources,Marital_single,Marital_married,Marital_divorced
﻿Age,1.000000,-0.159205,0.010661,-0.001686,0.208034,0.010146,-0.036311,0.024287,0.029820,0.509604,...,-0.002001,0.049726,0.098825,-0.175785,0.185891,0.294248,-0.029856,-0.119185,0.083919,0.033120
Attrition,-0.159205,1.000000,-0.056652,0.077924,-0.031373,-0.103369,0.029453,-0.006846,-0.130016,-0.169105,...,0.019774,-0.082994,-0.078696,0.157234,-0.088870,-0.083316,0.036215,0.175419,-0.090984,-0.087716
DailyRate,0.010661,-0.056652,1.000000,-0.004985,-0.016806,0.018355,-0.011716,0.023381,0.046135,0.002966,...,-0.000513,-0.005302,0.040141,0.005375,-0.000021,-0.013224,-0.021156,-0.075835,0.040035,0.037080
DistanceFromHome,-0.001686,0.077924,-0.004985,1.000000,0.021042,-0.016075,-0.001851,0.031131,0.008783,0.005303,...,0.030761,0.011848,0.022916,-0.015994,-0.022351,-0.039190,-0.024089,-0.027445,0.030232,-0.005440
Education,0.208034,-0.031373,-0.016806,0.021042,1.000000,-0.027128,-0.016547,0.016775,0.042438,0.101589,...,0.053398,-0.005290,0.024270,-0.091465,0.049694,0.028453,-0.005295,0.004168,-0.001865,-0.002439
EnvironmentSatisfaction,0.010146,-0.103369,0.018355,-0.016075,-0.027128,1.000000,0.000508,-0.049857,-0.008278,0.001212,...,-0.024421,0.059178,0.014090,0.002949,-0.048689,0.010730,-0.022014,0.009035,-0.022180,0.016439
Gender,-0.036311,0.029453,-0.011716,-0.001851,-0.016547,0.000508,1.000000,-0.000478,0.017960,-0.039403,...,-0.005348,-0.065197,0.006823,-0.028877,-0.006121,-0.033880,0.036082,-0.032752,-0.007804,0.046076
HourlyRate,0.024287,-0.006846,0.023381,0.031131,0.016775,-0.049857,-0.000478,1.000000,0.042861,-0.027853,...,-0.011886,-0.014394,0.014599,-0.018703,-0.025128,0.012659,-0.016189,-0.033436,0.036432,-0.006150
JobInvolvement,0.029820,-0.130016,0.046135,0.008783,0.042438,-0.008278,0.017960,0.042861,1.000000,-0.012630,...,-0.011413,-0.021939,0.001272,-0.027282,0.015200,0.017112,-0.004952,-0.045253,0.028324,0.016815
JobLevel,0.509604,-0.169105,0.002966,0.005303,0.101589,0.001212,-0.039403,-0.027853,-0.012630,1.000000,...,0.127490,0.114896,0.115704,-0.216559,0.414319,0.552744,-0.100922,-0.087072,0.050547,0.037087
JobSatisfaction,-0.004892,-0.103481,0.030571,-0.003669,-0.011296,-0.006784,0.033252,-0.071335,-0.021476,-0.001944,...,0.012604,-0.013747,0.016367,0.001413,-0.006217,-0.005620,-0.029681,0.024571,-0.010315,-0.015197
MonthlyIncome,0.497855,-0.159840,0.007707,-0.017014,0.094961,-0.006259,-0.031858,-0.015794,-0.015271,0.950300,...,0.047792,0.055684,0.068177,-0.201514,0.485818,0.619573,-0.092250,-0.089361,0.056767,0.032203
MonthlyRate,0.028051,0.015170,-0.032182,0.027473,-0.026084,0.037600,-0.041482,-0.015297,-0.016322,0.039563,...,0.011854,0.007711,0.003829,-0.001200,0.025875,0.031717,-0.027470,0.037260,-0.034689,-0.000227
NumCompaniesWorked,0.299635,0.043494,0.038153,-0.029251,0.126317,0.012594,-0.039147,0.022157,0.015012,0.142501,...,0.005913,0.009580,0.026955,-0.104494,0.097925,0.042125,0.020578,-0.019161,-0.016142,0.040824
OverTime,0.028062,0.246118,0.009135,0.025514,-0.020322,0.070132,-0.041924,-0.007782,-0.003507,0.000544,...,0.006341,-0.010302,-0.000382,0.003347,0.002400,-0.011086,-0.014026,-0.006498,-0.013502,0.023462
PercentSalaryHike,0.003634,-0.013478,0.022704,0.040235,-0.011111,-0.031701,0.002733,-0.009062,-0.017205,-0.034730,...,-0.046683,0.034682,0.020591,0.031102,-0.017017,-0.005394,-0.021032,-0.001386,0.020895,-0.023478
PerformanceRating,0.001904,0.002889,0.000473,0.027110,-0.024539,-0.029548,-0.013859,-0.002172,-0.029071,-0.021222,...,-0.041401,0.029775,-0.000928,-0.006214,-0.035744,0.032050,-0.010154,-0.001045,0.009585,-0.010310
RelationshipSatisfaction,0.053535,-0.045872,0.007846,0.006557,-0.009118,0.007665,0.022868,0.001330,0.034297,0.021642,...,-0.004836,0.003640,-0.005090,-0.024859,-0.005492,0.025638,0.044169,0.040817,-0.043382,0.006199
StockOptionLevel,0.037510,-0.137145,0.042143,0.044872,0.018422,0.003432,0.012716,0.050263,0.021523,0.013984,...,0.015756,0.007735,0.014021,-0.048067,0.015807,-0.015637,-0.009864,-0.638957,0.225574,0.446285
TotalWorkingYears,0.680381,-0.171063,0.014515,0.004628,0.148280,-0.002693,-0.046881,-0.002334,-0.005533,0.782208,...,-0.012241,0.064077,0.112159,-0.207726,0.312148,0.465837,-0.076482,-0.089529,0.053512,0.036291
TrainingTimesLastYear,-0.019621,-0.059478,0.002453,-0.036942,-0.025100,-0.019359,-0.038787,-0.008548,-0.015338,-0.018191,...,0.013241,-0.013987,-0.012432,0.040377,-0.004527,0.003052,-0.035902,0.024129,-0.029602,0.008405
WorkLifeBalance,-0.021490,-0.063939,-0.037848,-0.026556,0.009819,0.027627,-0.002753,-0.004607,-0.014617,0.037818,...,0.032092,0.002011,-0.026101,0.045148,0.034403,0.005137,0.043887,0.014921,-0.006388,-0.009080
YearsAtCompany,0.311309,-0.134392,-0.034055,0.009508,0.069114,0.001458,-0.029747,-0.019582,-0.021355,0.534739,...,0.042602,0.031968,0.069758,-0.163464,0.153918,0.330965,-0.052569,-0.070935,0.044925,0.025728
YearsInCurrentRole,0.212901,-0.160545,0.009932,0.018845,0.060236,0.018007,-0.041483,-0.024106,0.008717,0.389447,...,0.092349,0.067877,0.054695,-0.149751,0.136332,0.167499,-0.057876,-0.086486,0.065488,0.018532
YearsSinceLastPromotion,0.216513,-0.033019,-0.033229,0.010029,0.054254,0.016194,-0.026985,-0.026716,-0.024184,0.353885,...,0.049202,-0.007241,0.075902,-0.085622,0.074455,0.224255,-0.054603,-0.053090,0.054102,-0.005279
YearsWithCurrManager,0.202089,-0.156199,-0.026363,0.014406,0.069065,-0.004999,-0.030599,-0.020123,0.025976,0.375281,...,0.083028,0.076207,0.039407,-0.168743,0.131279,0.164695,-0.051006,-0.047793,0.032972,0.014095
Business_Travel_Rarely,0.028791,-0.049538,0.002078,-0.020116,0.004126,0.008496,-0.014682,0.027541,0.026714,0.023433,...,-0.011920,0.000598,-0.015503,-0.025257,0.034600,0.027294,0.008962,-0.020808,0.055613,-0.043287
Business_Travel_Frequently,-0.024743,0.115143,-0.011776,0.005081,-0.008292,-0.012624,-0.022015,-0.018819,0.004424,-0.021557,...,-0.010175,0.009783,0.008029,0.055469,-0.023579,-0.042583,0.001896,0.027734,-0.030785,0.005779
Business_Non-Travel,-0.011215,-0.074457,0.012096,0.023605,0.004524,0.003568,0.050461,-0.016994,-0.045779,-0.007295,...,0.031022,-0.013536,0.012878,-0.033780,-0.021431,0.014078,-0.015890,-0.004622,-0.043635,0.057455
Life Sciences,0.016824,-0.032703,0.004028,-0.024499,0.013184,-0.024526,0.006770,0.038759,0.003228,-0.008431,...,-0.091122,0.052023,0.029084,-0.043208,0.018401,-0.011143,-0.063119,0.021469,-0.017866,-0.002672
Medical,-0.006354,-0.046999,0.034202,0.013486,-0.072335,-0.021299,-0.013146,-0.020418,0.017103,-0.014114,...,-0.133532,0.035496,0.034165,-0.051990,0.062898,-0.001128,-0.042895,-0.004249,-0.007139,0.013316
Marketing,0.038162,0.055781,-0.064449,0.039294,0.072405,0.000479,-0.024143,0.004452,-0.018657,0.092698,...,0.457308,-0.115206,-0.108929,0.133065,-0.083548,0.025577,-0.066690,-0.013323,0.018491,-0.007212
Technical Degree,-0.027604,0.069355,0.030869,-0.014802,-0.026742,0.027713,0.003886,0.011283,-0.004519,-0.054707,...,-0.058843,0.007817,0.018681,0.057185,-0.022905,-0.038946,-0.008623,0.014265,0.002710,-0.019243
Education Human Resources,0.001696,0.036466,-0.043144,-0.002624,0.026479,-0.006898,0.028956,-0.033670,0.002079,0.010409,...,-0.073020,-0.045251,-0.042785,-0.033462,-0.032816,0.082271,0.549751,-0.072051,0.057339,0.012107
Education_Other,-0.041466,-0.017898,-0.003893,-0.007969,0.038043,0.064602,0.022992,-0.042163,-0.011895,-0.016724,...,-0.036995,-0.010820,0.017609,-0.033774,-0.006044,-0.008046,0.001594,0.004972,-0.009171,0.005411
Sales,-0.027549,0.080855,-0.003616,0.014085,0.014215,-0.025606,-0.032017,-0.012047,-0.026107,0.114307,...,0.808869,-0.218320,-0.206425,0.370667,-0.158327,0.035248,-0.126381,0.033002,0.005378,-0.043451
R&D,0.017883,-0.085293,0.014871,-0.008117,-0.018604,0.027976,0.015760,0.018686,0.023187,-0.107830,...,-0.733497,0.240754,0.227637,-0.336127,0.174596,-0.071356,-0.263128,-0.009990,-0.019997,0.035158
Dept_Human Resources,0.020523,0.016832,-0.026726,-0.012901,0.011435,-0.007597,0.035652,-0.016551,0.004789,-0.006157,...,-0.112959,-0.070000,-0.066186,-0.051764,-0.050765,0.087615,0.904983,-0.051443,0.034767,0.016037
Research Scientist,-0.146518,-0.000360,-0.002624,-0.010986,0.000709,0.001940,0.009745,0.020034,0.047604,-0.387788,...,-0.265775,-0.164700,-0.155727,-0.121792,-0.119442,-0.135949,-0.095342,0.053522,-0.039987,-0.012115
Laboratory Technician,-0.143176,0.098290,-0.006728,0.012369,-0.063566,-0.001533,0.067793,0.018028,-0.022724,-0.344608,...,-0.246873,-0.152987,-0.144652,-0.113130,-0.110947,-0.126280,-0.088561,0.019873,-0.009233,-0.011224
Sales Executive,-0.002001,0.019774,-0.000513,0.030761,0.053398,-0.024421,-0.005348,-0.011886,-0.011413,0.127490,...,1.000000,-0.176592,-0.166971,-0.130586,-0.128066,-0.145765,-0.102226,0.006210,0.005751,-0.013853
Manufacturing Director,0.049726,-0.082994,-0.005302,0.011848,-0.005290,0.059178,-0.065197,-0.014394,-0.021939,0.114896,...,-0.176592,1.000000,-0.103472,-0.080924,-0.079362,-0.090330,-0.063349,-0.021331,0.002819,0.020543
Healthcare Representative,0.098825,-0.078696,0.040141,0.022916,0.024270,0.014090,0.006823,0.014599,0.001272,0.115704,...,-0.166971,-0.103472,1.000000,-0.076515,-0.075038,-0.085409,-0.059898,-0.030126,0.004913,0.027897
Sales Representative,-0.175785,0.157234,0.005375,-0.015994,-0.091465,0.002949,-0.028877,-0.018703,-0.027282,-0.216559,...,-0.130586,-0.080924,-0.076515,1.000000,-0.058687,-0.066797,-0.046845,0.072439,-0.023659,-0.052890
Research Director,0.185891,-0.088870,-0.000021,-0.022351,0.049694,-0.048689,-0.006121,-0.025128,0.015200,0.414319,...,-0.128066,-0.079362,-0.075038,-0.058687,1.000000,-0.065508,-0.045941,-0.042299,0.008271,0.037524
Manager,0.294248,-0.083316,-0.013224,-0.039190,0.028453,0.010730,-0.033880,0.012659,0.017112,0.552744,...,-0.145765,-0.090330,-0.085409,-0.066797,-0.065508,1.000000,-0.052290,-0.055176,0.049982,0.001997
Job_Human_Resources,-0.029856,0.036215,-0.021156,-0.024089,-0.005295,-0.022014,0.036082,-0.016189,-0.004952,-0.100922,...,-0.102226,-0.063349,-0.059898,-0.046845,-0.045941,-0.052290,1.000000,-0.052320,0.030995,0.021541
Marital_single,-0.119185,0.175419,-0.075835,-0.027445,0.004168,0.009035,-0.032752,-0.033436,-0.045253,-0.087072,...,0.006210,-0.021331,-0.030126,0.072439,-0.042299,-0.055176,-0.052320,1.000000,-0.629981,-0.366691
Marital_married,0.083919,-0.090984,0.040035,0.030232,-0.001865,-0.022180,-0.007804,0.036432,0.028324,0.050547,...,0.005751,0.002819,0.004913,-0.023659,0.008271,0.049982,0.030995,-0.629981,1.000000,-0.491506
Marital_divorced,0.033120,-0.087716,0.037080,-0.005440,-0.002439,0.016439,0.046076,-0.006150,0.016815,0.037087,...,-0.013853,0.020543,0.027897,-0.052890,0.037524,0.001997,0.021541,-0.366691,-0.491506,1.000000

## Dividing data into train and test dataset

In [19]:
from sklearn.cross_validation import train_test_split
#from random import seed

#seed(20)
train_x = data.drop(['Attrition'],axis=1)
train_y = data['Attrition']

X,test_x,Y,test_y = train_test_split(train_x, train_y, test_size=0.3,random_state=20)
len(test_x)

441

## Applying Linear Discriminant Analysis (LDA) to our data

In [20]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

clf = LinearDiscriminantAnalysis()
clf.fit(X,Y)

C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

### Calculating accuracy of our model

In [21]:
from sklearn.metrics import accuracy_score

pred_y = clf.predict(test_x)

accuracy = accuracy_score(test_y, pred_y, normalize=True, sample_weight=None)
accuracy

0.8820861678004536

## Getting quantitative estimates of our model

In [22]:
from sklearn.metrics import classification_report

print(classification_report(test_y, pred_y))

             precision    recall  f1-score   support

          0       0.90      0.96      0.93       371
          1       0.70      0.46      0.55        70

avg / total       0.87      0.88      0.87       441

#### We have applied linear discriminant analysis to the data getting an accuracy of 88.20% little bit higher then the logistic approach. As it is clear from our model that we are getting low value of recall for true value of attrition ,i.e., we are not getting enough of the relevant information of the attrited employees from the data. The retrieved model shows high senstivity but low specificity.

Now ,we will try a new model with few less relevant features trimmed out from our dataset.

## Applying Recursive Feature Elimination (RFE) for feature selection

In [23]:
from sklearn.feature_selection import RFE

rfe = RFE(clf,40)
rfe = rfe.fit(train_x,train_y)
print(rfe.support_)
print(rfe.ranking_)

[ True False  True False  True  True False  True False  True False False
  True  True False False  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True]
[ 1  8  1  5  1  1  7  1  6  1  9 10  1  1  3  2  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  4  1  1  1  1  1  1  1  1  1  1  1  1  1
  1]

C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

### Transforming our data to desired no. of features

In [24]:
X =rfe.transform(X)
test_x = rfe.transform(test_x)
X.shape

C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:127: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(mask.dtype, np.int):

(1029, 40)

### Calculating accuracy of our modified model

In [25]:
from sklearn.metrics import accuracy_score

clf.fit(X,Y)
pred_y = clf.predict(test_x)

accuracy = accuracy_score(test_y, pred_y, normalize=True, sample_weight=None)
accuracy

C:\Users\Anand Tiwari\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

0.8866213151927438

### Quantitative estimates of our transformed model

In [26]:
from sklearn.metrics import classification_report

print(classification_report(test_y, pred_y))

             precision    recall  f1-score   support

          0       0.91      0.96      0.93       371
          1       0.71      0.49      0.58        70

avg / total       0.88      0.89      0.88       441

#### Thus, we see a slight increase in accuracy of our model. We have trimmed our dataset to 40 features. This approach also shows considerable increase in precision,recall and F1 score .This ultimately results in increase of specificity of our model.This model also reduces our memory space and processing time as the operations to be performed are much less than former.

Trying with different number of features changes the accuracy of the model.